{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h1>{{Topics}}</h1>
{% endblock page_header %}

{% block content %}
  <p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a>
  </p>

{% for entry in entries %}
  <div class="card mb-3">
    <h4 class="card header">
      {{ entry.date_added|date:'M d, Y H;i'}}
      <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit entry</a></small>
    </h4>
    <div class="card-body">
      {{ entry.text|linebreaks }}
    </div>
  </div>
      
  {% empty %}
  	<li>这个话题的添加者很懒，还没有上传任何东西</li>
  {% endfor %}

{% endblock content %}